body { padding-top: 70px; }
.navbar-inverse {
    background-color: #222222;
}

.card-image-tooltip + .tooltip > .tooltip-inner {
    background-color: rgba(255,255,255, 0);
    margin-top: -40px;
    margin-left: 30px;
}

div.card-row .cost, div.deck-row .percentage {
    background: #286eb2;
    color: #fff;
    text-align: center;
}

div.card-row .cost {
    height: 28px;
}

.card-image {
    float: right;
    width: 130px;
    opacity: 0.5;
    height: 26px;
}

div.card-row .count, div.deck-row .type {
    background: #2d2d2d;
    color: #cbb800;
    text-align: center;
}

div.deck-row .type {
    color: #00bc8c;
}

.hide-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hs-list-item {
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer;
}

.hide-card {
    opacity: 0.3;
}

.blur-card {
    opacity: 0.8;
}

.classImage {
    background-size: 60px 60px !important;
    width: 60px;
    margin-right: 30px !important;
}
.mana-icon {
    top: -3px;
    z-index: 5;
    height: 30px;
    width: 40px;
    margin-right: 5px;
    cursor: pointer;
}
.mana-icon-cost {
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    top: 2px;
    left: 10px;
    z-index: 6;
    text-shadow: -1px -1px 0 #000000,1px -1px 0 #000000,-1px 1px 0 #000000,1px 1px 0 #000000;
    cursor: pointer;
}
.mana-icon-img {
    width: 30px;
    height: 30px;   
}
.hs-list-item.crossed {
    text-decoration: line-through;   
}